.mun-section{
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgb(240, 240, 240);
    border-radius: 2em;
    margin-bottom: 2em;
    @media(max-width: 576px){
        margin-top: 1em!important;
        margin-bottom: 1em!important;
    }
    hr{
        border-color: red;
    }
    h1{
        font-size: 2.5rem;
    }

    .links{
        display: flex;
        flex-wrap: wrap;
        gap: 0.8em;
        a{
            background-color: white;
            padding: 0.4em 1em;
            color: black;
            border-radius: 1rem;
            font-size: 2rem;
        }
        a.active{
            background-color: #f60d2b;
            color: #fff;
        }
        a:hover{
            background-color: #f60d2b;
            color: #fff;
        }
        
    }
}

@media(max-width: 576px){
    .container.mun-section{
        margin: 0em 1em;
    }
}
